@mixin calc($property, $expression) {
	#{$property}: calc(#{$expression});
}

@function tracking($target) {
	@return ($target / 1000) * 1em;
}

@mixin tracking($target) {
	letter-spacing: tracking($target);
}

@mixin pose($direction, $width) {
	position: relative;
	float: $direction;
	width: $width;
}

@mixin posa($top, $right, $bottom, $left) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}
