.module-new-cta {
	.btn-cta {
		font-size: 13px;
		line-height: 45px;
		font-weight: $font-weight-bold;
		text-decoration: none;
		border-color: #333;
		background-color: transparent;
		color: #000;
	}

	.center-align {
		text-align: center;
	}

	@media #{$desktopUp} {
		.btn-cta {
			&:hover {
				background-color: #333;
				color: white;
			}
		}
	}
}
